* {
  margin: 0;
  padding: 0; }

.section {
  position: relative;
  overflow: hidden; }

.bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; }

.bg img {
  display: block;
  width: 100%;
  height: 100%; }

.first_text {
  position: absolute;
  top: 98px;
  left: 50%;
  margin-left: -202px;
  display: flex;
  font-size: 50px;
  color: #2cb477;
  line-height: 50px;
  font-weight: bold; }

.first_text img {
  width: 51px;
  height: 51px; }

.first_text p {
  margin: 0;
  margin-left: 30px; }

.first_img {
  position: absolute;
  top: 298px;
  left: 50%;
  margin-left: -318px; }

.first_img img {
  width: 637px;
  height: 590px; }

.first_textimg {
  position: absolute;
  bottom: 266px;
  left: 50%;
  margin-left: -333px;
  display: flex; }

.first_textimg_p {
  margin-top: 55px;
  margin-right: 116px; }

.first_textimg_p p:nth-child(1) {
  font-size: 20px;
  color: #5f4343; }

.first_textimg_p p:nth-child(2) {
  font-size: 40px;
  color: #c73639; }

.QR_p {
  font-size: 15px;
  color: #989898; }

.first_textimg .QR_p img {
  width: 114px;
  height: 114px;
  display: block; }

.text_red {
  width: 653px;
  height: 79px;
  background: #c73639;
  position: absolute;
  bottom: 115px;
  left: 50%;
  margin-left: -326px;
  text-align: center;
  font-size: 29px;
  line-height: 71px;
  color: #FFFFFF;
  font-weight: bold; }

.Second_text {
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -157px;
  font-size: 45px;
  color: #e73a4a;
  font-weight: bold;
  text-align: center; }

.Second_text p:nth-child(2) {
  font-size: 25px; }

.Second_img {
  position: absolute;
  top: 295px;
  left: 50%;
  margin-left: -312px; }

.Second_img img {
  width: 680px;
  height: 821px; }

.AI_text {
  position: absolute;
  bottom: 199px;
  left: 50%;
  margin-left: -75px;
  font-size: 30px;
  color: #FFFFFF;
  font-weight: bold; }

.phone_text {
  width: 653px;
  height: 79px;
  background: #c73639;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color: #FFFFFF;
  position: absolute;
  bottom: 74px;
  left: 50%;
  margin-left: -326px;
  line-height: 70px; }

.Third_text {
  position: absolute;
  top: 97px;
  left: 50%;
  text-align: center;
  font-size: 45px;
  color: #239fff;
  font-weight: bold;
  margin-left: -315px; }

.Third_text p:nth-child(2) {
  line-height: 40px;
  font-size: 25px; }

.Third_phone1 {
  position: absolute;
  top: 295px;
  left: 50%;
  margin-left: -240px; }

.Third_phone1 img {
  width: 479px;
  height: 394px; }

.Third_bg1_bz {
  width: 112px;
  height: 176px;
  background: url(../img/Third_phone1_bz.png) no-repeat;
  position: absolute;
  top: 314px;
  left: 155px; }

.Third_bg1_as {
  width: 59px;
  height: 104px;
  background: url(../img/Third_phone1_as.png) no-repeat;
  position: absolute;
  top: 605px;
  left: 180px; }

.Third_bg1_jr {
  width: 149px;
  height: 171px;
  background: url(../img/Third_phone1_jr.png) no-repeat;
  position: absolute;
  top: 539px;
  right: 120px; }

.Third_phone2 {
  position: absolute;
  bottom: 136px;
  left: 50%;
  margin-left: -301px; }

.Third_phone2 img {
  width: 602px;
  height: 422px; }

.Third_bg2_sc {
  width: 131px;
  height: 210px;
  background: url(../img/Third_phone2_sc.png) no-repeat;
  position: absolute;
  left: 165px;
  bottom: 300px; }

.Third_bg2_gx {
  width: 53px;
  height: 79px;
  background: url(../img/Third_phone2_gx.png) no-repeat;
  position: absolute;
  bottom: 109px;
  right: 345px; }

.Third_bg2_fw {
  width: 53px;
  height: 92px;
  background: url(../img/Third_phone2_fw.png) no-repeat;
  position: absolute;
  bottom: 109px;
  right: 260px; }

.Third_bg2_as {
  width: 58px;
  height: 104px;
  background: url(../img/Third_phone2_as.png) no-repeat;
  position: absolute;
  bottom: 109px;
  right: 175px; }

.Fourth_text {
  font-size: 45px;
  color: #ff5500;
  font-weight: bold;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-left: -315px;
  text-align: center; }

.Fourth_text p:nth-child(2) {
  font-size: 25px;
  line-height: 50px; }

.Fourth_phone1 {
  position: absolute;
  top: 263px;
  left: 50%;
  margin-left: -232px; }

.Fourth_phone1 img {
  width: 462px;
  height: 455px; }

.Fourth_zg1 {
  width: 112px;
  height: 176px;
  background: url(../img/Fourth_zg1.png) no-repeat;
  position: absolute;
  top: 314px;
  left: 145px; }

.Fourth_fb1 {
  width: 59px;
  height: 87px;
  background: url(../img/Fourth_fb1.png) no-repeat;
  position: absolute;
  top: 600px;
  left: 235px; }

.Fourth_mb1 {
  width: 172px;
  height: 113px;
  background: url(../img/Fourth_mb1.png) no-repeat;
  position: absolute;
  top: 282px;
  right: 180px; }

.Fourth_phone2 {
  position: absolute;
  bottom: 59px;
  left: 50%;
  margin-left: -274px; }

.Fourth_phone2 img {
  width: 548px;
  height: 499px; }

.Fourth_hx2 {
  width: 131px;
  height: 164px;
  background: url(../img/Fourth_hx2.png) no-repeat;
  position: absolute;
  bottom: 345px;
  left: 170px; }

.Fourth_zp2 {
  width: 105px;
  height: 59px;
  background: url(../img/Fourth_zp2.png) no-repeat;
  position: absolute;
  bottom: 445px;
  right: 155px; }

.Fourth_sp2 {
  width: 82px;
  height: 60px;
  background: url(../img/Fourth_sp2.png) no-repeat;
  position: absolute;
  bottom: 345px;
  right: 155px; }

.Fourth_fk2 {
  width: 77px;
  height: 96px;
  background: url(../img/Fourth_fk2.png) no-repeat;
  position: absolute;
  bottom: 175px;
  right: 155px; }

.Fifth_text {
  font-size: 45px;
  color: #000000;
  font-weight: bold;
  text-align: center;
  position: absolute;
  top: 97px;
  left: 50%;
  margin-left: -293px; }

.Fifth_text p:nth-child(2) {
  font-size: 25px;
  line-height: 50px; }

.Fifth_key {
  position: absolute;
  top: 363px;
  left: 104px; }

.Fifth_key img {
  width: 225px;
  height: 356px; }

.Fifth_mm {
  width: 164px;
  height: 22px;
  background: url(../img/Fifth_mm.png) no-repeat;
  position: absolute;
  top: 376px;
  left: 256px; }

.Fifth_km {
  width: 148px;
  height: 22px;
  background: url(../img/Fifth_km.png) no-repeat;
  position: absolute;
  top: 438px;
  left: 256px; }

.Fifth_aq {
  width: 190px;
  height: 23px;
  background: url(../img/Fifth_aq.png) no-repeat;
  position: absolute;
  top: 551px;
  left: 256px; }

.Fifth_text_1 {
  position: absolute;
  top: 420px;
  right: 180px;
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  text-align: center;
  line-height: 50px; }

.Fifth_text_1 p:nth-child(1) {
  font-size: 40px;
  margin-bottom: 20px; }

.Fifth_machine {
  position: absolute;
  bottom: 276px;
  right: 77px; }

.Fifth_machine img {
  width: 148px;
  height: 377px; }

.Fifth_sp {
  width: 147px;
  height: 23px;
  background: url(../img/Fifth_sp.png) no-repeat;
  position: absolute;
  bottom: 455px;
  right: 191px; }

.Fifth_qh {
  width: 147px;
  height: 23px;
  background: url(../img/Fifth_qh.png) no-repeat;
  position: absolute;
  bottom: 332px;
  right: 191px; }

.Fifth_text_2 {
  font-size: 25px;
  font-weight: bold;
  color: #000000;
  position: absolute;
  bottom: 299px;
  left: 180px;
  text-align: center;
  line-height: 50px; }

.Fifth_text_2 p:nth-child(1) {
  font-size: 40px;
  margin-bottom: 20px; }

.Sixth_text {
  position: absolute;
  top: 97px;
  left: 50%;
  margin-left: -225px;
  font-size: 45px;
  font-weight: bold;
  color: #000000;
  text-align: center; }

.Sixth_text p:nth-child(2) {
  font-size: 25px;
  line-height: 50px; }

.Sixth_phone {
  position: absolute;
  top: 515px;
  left: 50%;
  margin-left: -225px; }

.Sixth_phone img {
  width: 449px;
  height: 270px; }

.Sixth_gj1 {
  width: 82px;
  height: 196px;
  background: url(../img/Sixth_gj1.png) no-repeat;
  position: absolute;
  top: 325px;
  left: 425px; }

.Sixth_lx1 {
  width: 82px;
  height: 115px;
  background: url(../img/Sixth_lx1.png) no-repeat;
  position: absolute;
  top: 445px;
  right: 360px; }

.Sixth_wx1 {
  width: 82px;
  height: 115px;
  background: url(../img/Sixth_wx1.png) no-repeat;
  position: absolute;
  top: 740px;
  left: 345px; }

.Sixth_img_text_position {
  position: absolute;
  bottom: 200px;
  left: 50%;
  margin-left: -326px; }

.Sixth_img_text {
  float: left; }

.Sixth_img_text img {
  width: 45px;
  height: 46px; }

.Sixth_img_text div {
  display: inline-block;
  line-height: 30px;
  margin-right: 83px; }

.Sixth_img_text p {
  font-size: 17px;
  color: #000000;
  font-weight: bold; }

.Sixth_img_text p:nth-child(2) {
  font-size: 11px; }

.Seventh_text {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -73px 0 0 -160px; }

.Seventh_text p {
  font-size: 80px;
  color: #000000;
  font-weight: bold;
  text-align: center; }

.Seventh_text p:nth-child(2) {
  font-size: 30px; }

#fp-nav span, .fp-slidesNav span {
  border: 1px solid #999; }

/*# sourceMappingURL=index.css.map */
